 /* 🔹 Estilos específicos para PDF Exportación */
 @media print {
  .logo-boxes {
    height: 30px !important;
  
  }
}

.revision-text{
  color: white!important;

}


 .presupuesto-print {
    font-size: 0.75rem;
    page-break-inside: avoid;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }

  
  
  .avoid-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
  

  html[data-pdf-export] .promociones-container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  html[data-pdf-export] .promociones-container .col {
    flex: 0 0 19%; /* 5 columnas aprox. */
    max-width: 19%;
  }
  

  /* Animación solo cuando NO se está exportando */
html:not([data-pdf-export="true"]) .logo-brillante {
  animation: pulseLogo 2.5s ease-in-out infinite;
}

@keyframes pulseLogo {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
    opacity: 0.9;
  }
}
